<%-include('partials/header')  %>
<link rel="stylesheet" href="/css/mi-estilo.css">
</head>
<body>
<%-include('partials/navbar')  %>

    

    <!-- Formulario para crear publicaciones -->
    <div class="container content">
        <div class="row">
            <div class="col">
                <h1 class="text-center py-3">Lista de Publicaciones</h1>
            </div>
        </div>
        
        <div  class="container">
            <div id="lista-publicaciones" class="row gap-2">
    
            </div>
        </div>
    </div>




<script src="/js/home-usuario.js"></script>

  <%-include('partials/footer')  %>